  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <img class="rounded"
           src="https://static.wixstatic.com/media/90dcac_58ce74f8853845cfa7a8f6185d975daa~mv2.jpg/v1/fill/w_980,h_551,al_c,q_85,usm_0.66_1.00_0.01/90dcac_58ce74f8853845cfa7a8f6185d975daa~mv2.jpg"
           width="80%">
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="jumbotron jt-offers" style="width: 80%">
        <h1>Auen</h1>
        <p>
          Denken Sie selbst darüber nach mit einer kleinen Zucht zu beginnen oder ertweitern Sie ihren Bestand?
          Wir denken bei uns könnten Sie fündig werden.
        </p>
        <p>
          Die Tiere können selbstversändlich beschaut werden.<br>
          Es werden ausschließlich Herdbuchtiere verkauft.<br>
          Es gibt keine Onlinebestellung- oder Versand Optionen.
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="jumbotron jt-offers">
        <h1>Zuchtböcke</h1>
        <p> Guten Tag Kollegen, <br>
          Ihr benötigt einen Zuchtbock?</p>
        <p> Im Moment kann ein Widder der HT-Linie (Hornlos) sofort angeboten werden. <br>
          Ab Herbst 2021 stehen Jungeböcke der Linie R zum Verkauf.
        </p>

        <p> Die Tiere können selbstversändlich beschaut werden. <br>
          Es werden ausschließlich Herdbuchtiere verkauft. <br>
          Es gibt keine onlineBestell- oder Versand Optionen.</p>

      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="rounded"
           src="https://static.wixstatic.com/media/90dcac_e7f3e54e94744c1dbcd4d9027170efff~mv2.jpg/v1/fill/w_980,h_551,al_c,q_85,usm_0.66_1.00_0.01/90dcac_e7f3e54e94744c1dbcd4d9027170efff~mv2.jpg"
           width="80%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="rounded"
           src="https://media.istockphoto.com/photos/raw-fresh-lamb-ribs-picture-id530570971" width="80%">
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="jumbotron jt-offers" style="width: 80%">
        <h1>Fleischwaren</h1>
        <p> Die Fleischwaren können je nach Wunsch in Portionsgerechte Stücke zerteilt und verschweißt werden. <br>
          Es besteht auch die Möglichkeit ein halbes oder ganzes Schaf/Lamm zu kaufen.</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="jumbotron jt-offers" style="width: 80%">
        <h1>Felle</h1>
        <p>Das Fell des KrainerSteinschafs ist so robust wie das Tier selber. <br>
          Im Gegensatz zu Merinofellen welche für die Industrie gezüchtet wurde, ist die Wolle des Steinschafs sehr
          strapazierfähig.<br>
          So kann diese auch hervorragend als Bodenvorleger aber natürlich auch fürs Sofa genutzt werden.<br>
          Ein guter Freund verwendete beispielweise eins als Schlafsackeinlage als er den Winter über in
          Lappland/Schweden in seinem Dachzelt unterwegs war.<br>
          Der Insolationswert eines Schafsfell wird auch mit modernen Materialien kaum erreicht.<br><br>

          Bitte beachten Sie das jedes Fell individuell und einmalig ist,
          somit kann weder in der Wollart noch Farbe oder Größe ein Standard aufgebaut werden.</p>

      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="rounded"
           src="https://static.wixstatic.com/media/90dcac_e374a5d3f3994156b541acbdbd258e01~mv2.jpg/v1/fill/w_980,h_551,al_c,q_85,usm_0.66_1.00_0.01/90dcac_e374a5d3f3994156b541acbdbd258e01~mv2.jpg"
           width="80%">
    </mat-grid-tile>
  </mat-grid-list>

