
<div class="container custom-container">
  <div class="jumbotron">
    <h1 class="display-4">Schäferei Steinacher</h1>
    <p class="lead">    Uns von der Schäferei Steinacher ist es wichtig, das Krainersteinschaf und seinen Lebensraum bestmöglich zu erhalten.
      In einer Zeit in der die Landwirtschaft immer intensiver wird, versuchen wir ähnlich wie unsere Vorfahren mit kleinen überschaubaren Beständen Lebensmittel und deren Nebenprodukte wie Wolle und Felle zu erzeugen.
      Lebensraum schonend und vor allem für das Wohl und Fortbestehen des Tier, welches in der Heutigen Zeit nur noch schwer seinen Platz findet.</p>
    <hr class="my-4">
    <p>Um mehr über das Krainer Steinschaf zu erfahren, besuchen Sie unsere Info-Seite</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg custom-btn" href="/info" role="button">Über das Krainer Steinschaf</a>
    </p>


  </div>
</div>

