<div class="jumbotron jumbotron-fluid" style="height: fit-content; margin-top: 10%">
<div style="width: 40%" class="d-inline">
  <p> Seit 2016 arbeiten Rosina und Georg Steinacher mit Herzblut am Fortbestehen der Rasse Krainer Steinschaf. <br/>
   Auf einem kleinen Bauernhof im Allgäu großgeworden, brachte Georg viel landwirtschaftliches Knowhow mit, welches sich mit den findigen Ideen der Bio-Hotelierstochter Rosina perfekt verbinden lies.<br/>
  In der Natur liegt ihrer beider Leidenschaft.<br/>
  Übernehmen durften sie den Betrieb von Georgs Onkel und Tante Christian und Resi Rist. Diese widmeten sich seit den frühen 2000er Jahren dem Erhalt und bauten als Gründungsmitglieder die Arbeitsgemeinschaft Krainersteinschaf mit auf.</p>
</div>
  <div style="width: 40%" class="d-inline">
    <img src="assets/about_rg.jpg">
  </div>
</div>
